@import '../../../../variables.scss';

.ctrl_btn {
    height: 28px;
    width: 28px;
    font-size: 1.6rem;
    border: none;
    color: #fff;
    transition: .2s;
    border-radius: 100%;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
        opacity: .6;
    }

    &.plus {
        background-color: $mBlue;
    }

    &.minus {
        background-color: $red;

        span {
            line-height: .1;
            margin-right: -1px;
        }
    }

    &:disabled {
        background-color: #eee !important;
        &:hover {
            cursor: not-allowed !important;
        }
    }
}